In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/My Drive/heart.csv', encoding= 'unicode_escape')
print(df)

     ï»¿age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca  thal  target
0        63    1   3       145   233  ...      2.3      0   0     1       1
1        37    1   2       130   250  ...      3.5      0   0     2       1
2        41    0   1       130   204  ...      1.4      2   0     2       1
3        56    1   1       120   236  ...      0.8      2   0     2       1
4        57    0   0       120   354  ...      0.6      2   0     2       1
..      ...  ...  ..       ...   ...  ...      ...    ...  ..   ...     ...
298      57    0   0       140   241  ...      0.2      1   0     3       0
299      45    1   3       110   264  ...      1.2      1   0     3       0
300      68    1   0       144   193  ...      3.4      1   2     3       0
301      57    1   0       130   131  ...      1.2      1   1     3       0
302      57    0   1       130   236  ...      0.0      1   1     2       0

[303 rows x 14 columns]

In [ ]:
print(list(df))

['ï»¿age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [ ]:
print(df.dtypes)

ï»¿age        int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object